In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train_E6oV3lV.csv")
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [3]:
train.shape
train.tail()

          id  label                                              tweet
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

In [4]:
tweet = train.tweet
tweet.head()
target=train.label
train=train.drop('label',axis=1)
train.head()

   id                                              tweet
0   1   @user when a father is dysfunctional and is s...
1   2  @user @user thanks for #lyft credit i can't us...
2   3                                bihday your majesty
3   4  #model   i love u take with u all the time in ...
4   5             factsguide: society now    #motivation

In [5]:
test = pd.read_csv("test_tweets_anuFYb8.csv")
test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [6]:
test.shape

(17197, 2)

In [7]:
#combine test and train
combined = train.append(test)

In [8]:
combined.shape

(49159, 2)

In [11]:
combined.tail()

          id                                              tweet
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

In [12]:
combined.reset_index(inplace=True)

In [14]:

combined=combined.drop('index',axis=1)

In [15]:
combined.tail()

          id                                              tweet
49154  49155  thought factory: left-right polarisation! #tru...
49155  49156  feeling like a mermaid ð #hairflip #neverre...
49156  49157  #hillary #campaigned today in #ohio((omg)) &am...
49157  49158  happy, at work conference: right mindset leads...
49158  49159  my   song "so glad" free download!  #shoegaze ...

In [17]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords

In [20]:
stopWords = set(stopwords.words('english'))
stopWords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [21]:
len(stopWords)

179

In [16]:

combined.replace("[^a-zA-Z]"," ",regex=True,inplace=True)

   id                                              tweet
0   1    user when a father is dysfunctional and is s...
1   2   user  user thanks for  lyft credit i can t us...
2   3                                bihday your majesty
3   4   model   i love u take with u all the time in ...
4   5             factsguide  society now     motivation

In [33]:
temp=pd.DataFrame(columns=['id','tweet'])

Empty DataFrame
Columns: [id, tweet]
Index: []

In [37]:

def clean():
    for i in range(len(combined["tweet"])):
                   sent=combined["tweet"][i].lower()
                   tokens=word_tokenize(sent)
                   if (x for x in tokens if x not in stopWords):
                        temp['id'][i]=i
                        temp['tweet'][i]=x

In [41]:

temp2=[]

for i in range(len(combined["tweet"])):
                   sent=combined["tweet"][i].lower()
                   tokens=word_tokenize(str(sent)
                                        
                for x in tokens:
                    if x not in stopWords:
                        temp2[i].append(str(x))

IndexError: list index out of range

In [38]:
clean()

IndexError: index 0 is out of bounds for axis 0 with size 0

In [23]:
tokens

['my',
 'song',
 'so',
 'glad',
 'free',
 'download',
 'shoegaze',
 'newmusic',
 'newsong']