In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train_tweet.csv')
test = pd.read_csv('test_tweet.csv')

In [3]:
train.tail()

          id  label                                              tweet
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

In [4]:
test.tail()

          id                                              tweet
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

In [5]:
train.label.value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [47]:
test_id=test.pop('id')

In [7]:
#combi = train.append(test, ignore_index=True)

In [8]:
#combi

In [9]:
#combined=train.append(test)
#combined.reset_index(inplace=True)

In [10]:
#combined

In [11]:
targets = train.label
train.drop('label', 1, inplace=True)
combined = train.append(test, ignore_index=True)
combined.reset_index(inplace=True)
combined.drop(['index'], inplace=True, axis=1)

In [12]:
combined.tail()

          id                                              tweet
49154  49155  thought factory: left-right polarisation! #tru...
49155  49156  feeling like a mermaid ð #hairflip #neverre...
49156  49157  #hillary #campaigned today in #ohio((omg)) &am...
49157  49158  happy, at work conference: right mindset leads...
49158  49159  my   song "so glad" free download!  #shoegaze ...

In [13]:
targets.head()

0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [14]:
import nltk
import string
import re

In [15]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\smhac\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
from nltk.corpus import stopwords

In [17]:
#y_train = train['label']
#StopWords = set(stopwords.words('english'))

#def preprocess(text):
#    text = ' '.join([word.lower() for word in text.split() if word.lower() not in StopWords and 'https' not in word and 'http' not in word and '@' not in word])
#    text = text.replace('#','')
#    trans = str.maketrans('','',string.punctuation)
#    text.translate(trans)
#    text = re.sub('[^A-Za-z ]+', '', text)
#    return text
#
#X_train = []
#X_test = []
#for text in train['tweet']:
#    X_train.append(preprocess(text))
#
#for text in test['tweet']:
#    X_test.append(preprocess(text))

In [18]:
#X_train

In [19]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for word in r:
        input_txt = re.sub(word, "", input_txt)
    return input_txt

In [20]:
combined['clean_tweet'] = np.vectorize(remove_pattern)(combined['tweet'], "@[\w]*")

In [21]:
combined['clean_tweet'] = combined['clean_tweet'].str.replace("[^a-zA-Z#]", " ")

<ipython-input-21-c0e846575944>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  combined['clean_tweet'] = combined['clean_tweet'].str.replace("[^a-zA-Z#]", " ")

In [22]:
combined['clean_tweet'] = combined['clean_tweet'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))
combined.head()

,id,tweet,clean_tweet
0,1,@user when a father is dysfunctional and is s...,when father dysfunctional selfish drags kids i...
1,2,@user @user thanks for #lyft credit i can't us...,thanks #lyft credit cause they offer wheelchai...
2,3,bihday your majesty,bihday your majesty
3,4,#model i love u take with u all the time in ...,#model love take with time
4,5,factsguide: society now #motivation,factsguide society #motivation

In [23]:
tokenized_tweet = combined['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet.head()

0    [when, father, dysfunctional, selfish, drags, ...
1    [thanks, #lyft, credit, cause, they, offer, wh...
2                              [bihday, your, majesty]
3                     [#model, love, take, with, time]
4                   [factsguide, society, #motivation]
Name: clean_tweet, dtype: object

In [24]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda sentence: [stemmer.stem(word) for word in sentence])
tokenized_tweet.head()

0    [when, father, dysfunct, selfish, drag, kid, i...
1    [thank, #lyft, credit, caus, they, offer, whee...
2                              [bihday, your, majesti]
3                     [#model, love, take, with, time]
4                         [factsguid, societi, #motiv]
Name: clean_tweet, dtype: object

In [25]:
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = " ".join(tokenized_tweet[i])
    
combined['clean_tweet'] = tokenized_tweet
combined.head()

,id,tweet,clean_tweet
0,1,@user when a father is dysfunctional and is s...,when father dysfunct selfish drag kid into dys...
1,2,@user @user thanks for #lyft credit i can't us...,thank #lyft credit caus they offer wheelchair ...
2,3,bihday your majesty,bihday your majesti
3,4,#model i love u take with u all the time in ...,#model love take with time
4,5,factsguide: society now #motivation,factsguid societi #motiv

In [26]:
#def hashtag_extract(tweets):
#    hashtags = []
#    for tweet in tweets:
#        ht = re.findall(r"#(\w+)", tweet)
#        hashtags.append(ht)
#    return hashtags

In [27]:
#ht_positive = hashtag_extract(combined['clean_tweet'][targets==0])

#ht_negative = hashtag_extract(combined['clean_tweet'][targets==1])

In [28]:
#ht_positive = sum(ht_positive, [])
#ht_negative = sum(ht_negative, [])

In [29]:
#freq = nltk.FreqDist(ht_positive)
#d = pd.DataFrame({'Hashtag': list(freq.keys()),
#                 'Count': list(freq.values())})
#d.head()

In [30]:
#freq = nltk.FreqDist(ht_negative)
#d = pd.DataFrame({'Hashtag': list(freq.keys()),
#                 'Count': list(freq.values())})
#d.head()

In [37]:
x=combined[:31962]
y=combined[31962:]
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           31962 non-null  int64
 1   tweet        31962 non-null  object
 2   clean_tweet  31962 non-null  object
dtypes: int64(1), object(2)
memory usage: 749.2+ KB

In [32]:
#x_tr, x_te, y_tr, y_te = train_test_split(x, , test_size=0.2, shuffle=True, random_state=1)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
bow = bow_vectorizer.fit_transform(x['clean_tweet'])

In [43]:
bow1 = bow_vectorizer.fit_transform(y['clean_tweet'])

In [49]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer(ngram_range=(1,3), min_df=5, max_df=0.8,stop_words = 'english')

In [ ]:
X_train_tfidf = tfidf.fit_transform(x)

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(bow, targets, random_state=42, test_size=0.25)

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, accuracy_score

In [40]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [41]:
pred = model.predict(x_test)
f1_score(y_test, pred)

0.49763033175355453

In [44]:
pred2=model.predict(bow1)

In [48]:
my_submission = pd.DataFrame({'id':test_id,'label':pred2})
my_submission.to_csv('twitter1.csv', index=False)