## Problem Statements:
### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

### Import libraries

In [1]:
import pandas as pd
import scipy
from scipy.stats import chisquare

### Reading the csv file

In [2]:
data=pd.read_csv("BuyerRatio.csv")
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

### H0 - all proportions of male-female buyer ratio is same
### H1 - all proportions of male-female buyer ratio is not the same

In [3]:
data['all'] = data.sum(axis=1)

In [4]:
count=pd.crosstab(data['Observed Values'],data['all'])
count

all              393   4064
Observed Values
Females             0     1
Males               1     0

### Performing Chisquare test to identify if the male-female buyer ratio is same or not

In [5]:
Chisquares_results=scipy.stats.chisquare(count)
Chisquares_results

Power_divergenceResult(statistic=array([1., 1.]), pvalue=array([0.31731051, 0.31731051]))

## Conclusion:
### Since the P value is 0.66 > 0.05, We accept H0.
### Thus, All proportions of male-female buyer ratio is same in all directions