## Problem Statements:
### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

### Import libraries

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import scipy
from scipy import stats

### Reading the csv file

In [2]:
order_form=pd.read_csv("Costomer+OrderForm.csv")
order_form.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

### Convert all the categorical features into numerical features, using label encoding

In [5]:
order_form=order_form.apply(LabelEncoder().fit_transform)
order_form.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

### H0- % of defective not varies by centre
### H1- % of defective are varies by centre

### Using one way anova to carry the test on the hypothesis, that is made

In [6]:
stats.f_oneway(order_form["Phillippines"],order_form["Indonesia"],order_form["Malta"],order_form["India"])

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)

## Conclusion:
### P value is 0.277, which is greater than 0.05, So we accept null hypothesis
### Thus, Percentage of defects does not vary with different centres