## Problem Statements:
  
### A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
### Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

### Import libraries

In [1]:
import pandas as pd
from scipy import stats

### Reading the csv file

In [2]:
labtat=pd.read_csv("labTAT.csv")
labtat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

### H0 - There is no difference in average of TAT value among the different laboratories
### H1 - There is a difference in average of TAT value among the different laboratories

### Performing one way anova test, to check the hypothesis that we have made

In [3]:
stats.f_oneway(labtat.iloc[:,0], labtat.iloc[:,1],labtat.iloc[:,2],labtat.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

## Conclusion:
### P value is 2.1156708949992414e-57 which is less than 0.05. so, we reject H0. Accepting H1. 
### So,there is a difference in average of TAT value among the different laboratories